<div class="lobby-wrapper waiting-containe">
  <div class="create-lobby-wrapper row" *ngIf="!loading">
    <div class="lobby-header col-12">
      <h1>Game Stash</h1>
    </div>
    <div class="button-column">
      <button class="leave-btn content" (click)="createLobby()">Start a Lobby</button>
      <button type="button" (click)="goToUserAccount()" class="leave-btn content">
        My Account
      </button>
      <button type="button" (click)="logout()" class="leave-btn content logout">
        Logout
      </button>
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <h2>Creating Lobby...</h2>
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>
