@if (!isGameOver()) {
  <header class="rankings-header">
    <h1 class="player-list">
        Load Balancing: Balance the Blocks on your Screen
    </h1>
  </header>
  <div class="player-list">
    <h2>Waiting for players to answer...</h2>
    <ul class="game-list">
      <li class="player-item player-response" *ngFor="let player of players">{{ player }}</li>
    </ul>
  </div>
} @else {
  <div class="rankings-container">
    <header class="rankings-header">
      <h1>
          Final Results
      </h1>
      <p class="target-info">Target Number: <span class="target-number">{{ "placeholder" }}</span></p>
      <div class="all-rankings">
        <h3>All Players</h3>
        <div class="rankings-list">        @for (player of players; track player) {
            <div class="ranking-item" [class.winner]="players.indexOf(player) === 0">
              <div class="rank-position">
                <span class="rank-number">{{ players.indexOf(player) }}</span>
              </div><div class="player-details">
                <span class="player-name">{{ player }}</span>
                <span class="player-guess">Score: {{ points[players.indexOf(player)] }}</span>
              </div>
              <!-- <div class="player-points">{{ player.points }}</div> -->
            </div>
          }
        </div>
      </div>
    </header>
    <!-- <footer class="rankings-footer">
      @if (isGameOver()) {
        <div class="final-actions">
          <button (click)="gameOverEmit()" class="stay-btn">
            Back to Game Select
          </button>
        </div>
      }
    </footer> -->
  </div>
}
